.svg-coin{
    background-color: #252836;
    border-radius: 8px;
}
.header{
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #50D1AA;
}
.card{
    background-color: #1F1D2B !important;
    border-radius: 8px !important;
}
.svg-arrow-up{
    background: rgba(136, 224, 145, 0.24);
    border-radius: 20px;
}
.summary-card .price{
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
}
.summary-card .card-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #ABBBC2;
}