.txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border: 1px solid #393c49;
  border-radius: 8px;

  input::placeholder {
    color: #abbbc2 !important;
  }

  input {
    color: #e0e6e9 !important;
  }
}
