.card{
    background-color: #1F1D2B !important;
}
.name{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
} 
.price{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.dish-card .price{
    color: #FFFFFF;
}