.card-dish img{
    width: 70%;
}
.card-dish .card-footer{
    background-color: rgb(234,124,105,0.24);
    color:  #EA7C69;
}
.dish-card img{
    transform: translateY(-50%);
    width: 80%;
} 
.dish-card .content{
    margin-top: -25%;
}
.dish-card .card{
    border-radius: 16px !important;
    background-color: #1F1D2B;
}
.card-dish .card{
    border-radius: 8px !important;
    background-color: #1F1D2B;
}
.name{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
} 
.price, .available-product{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.dish-card .price{
    color: #FFFFFF;
}
.available-product{
    color: #ABBBC2;
}
path{
    fill: #EA7C69;
}