#card-dish img{
    width: 70%;
}
#card-dish .card-footer{
    background-color: rgb(234,124,105,0.24);
    color:  #EA7C69;
}
#dish-card img{
    transform: translateY(-50%);
    width: 80%;
} 
#dish-card .content{
    margin-top: -25%;
}
#dish-card .card{
    border-radius: 16px !important;
}
#card-dish .card{
    border-radius: 8px !important;
}
.card{
    background-color: #1F1D2B !important;
}
.name{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
} 
.price, .available-product{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
#dish-card .price{
    color: #FFFFFF;
}
.available-product{
    color: #ABBBC2;
}
.svg-coin{
    background-color: #252836;
    border-radius: 8px;
}
.header{
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #50D1AA;
}
.svg-arrow-up{
    background: rgba(136, 224, 145, 0.24);
    border-radius: 20px;
}
.summary-card .price{
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
}
.summary-card .card-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #ABBBC2;
}
.most-ordered .card-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #E0E6E9;
}
.most-ordered .card-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
    width: fit-content;
}
.order-status .status div{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    border-radius: 30px;
}
.order-status .completed{
    color: #50D1AA;
    background: rgba(107, 226, 190, 0.24);
}
.order-status .preparing{
    color: #9290FE;
    background: rgba(146, 144, 254, 0.2);
}
.order-status .pending{
    color: #FFB572;
    background: rgba(255, 181, 114, 0.2);
}
