.confirmation-item{
    background-color: #1F1D2B;
}
.name{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}
.price{
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
}
.quantity{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.total{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.text-note{
    width: -webkit-fill-available;
    background: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #E0E6E9;
}
.btn-delete{
    border: 1px solid #EA7C69 !important;
    border-radius: 8px !important;
}