.dish-card {
  width: 190px;
  height: 260px;
  display: flex;
  align-items: flex-end;

  .card {
    background: #1f1d2b;
    border-radius: 16px;
    padding: 0px 20px 20px 20px;
    height: 85%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .image {
      position: absolute;
      top: -15%;
    }

    .information {
      text-align: center;
      padding: 0px 16px;

      .name {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #ffffff;
      }

      .price {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #ffffff;
        padding: 5px 0px;
      }

      .available {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #abbbc2;
      }
    }
  }
}

.active {
  border: 1px solid #ea7c69;
  border-radius: 16px;
}
