.order-tab{
    background-color: #1F1D2B !important;
}
.btn-custom{
    color: #EA7C69 !important;
    background: #1F1D2B !important;
    border: 1px solid #393C49 !important;
    border-radius: 8px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 140% !important;
}
.btn-custom:hover{
    color: #FFFFFF !important;
    background: #EA7C69 !important;
    border: 1px solid #EA7C69 !important;
}
.active{
    color: #FFFFFF !important;
    background: #EA7C69 !important;
    border: 1px solid #EA7C69 !important;
}