.card{
    border-radius: 16px !important;
    background-color: #1F1D2B !important;
}
.most-ordered .card-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #E0E6E9;
}
.most-ordered .card-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
    width: fit-content;
}